.my_image {
    width: auto;
    height: 100%;
}

.my_image_container {
  border-radius: 50%;
}

.center_image {
    display: flex;
    justify-content: center;
}

.msg_container {
    padding-top: 1rem;
  
}

.iconButton {
    background-color: white;
    border: white;
}

.icon_center_align {
    display: flex;
    justify-content: center;
}

.about_container {
    padding-left: 1rem
}

.nameContainer {
	display: flex;
}

.nameTypeAnimation {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 4vw;
    width: 0;
    animation: 
      typing 1s steps(20, end) forwards,
      blink .8s infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink {
	from { border-color: transparent }
	to { border-color: orange; }
}

.tagContainer {
	display: flex;
	justify-content: center;
	height: 150px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


