.container {
	margin: 2rem;
    display: flex;
    flex-direction: row;

    .img {
        max-width: 100%;
		height: auto;
    }

    .cardBody {
        width: 100%;

    }
    
    .cardTitle {
        font-size: 30px;
        font-weight: bolder;

    }

    .cardText {
		font-size: 14px;
        text-align: left;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        
    }

    .googlePlayIcon {
        padding-left: 1rem;
    }

    .contributionPeriod {
		@extend .cardText;
        text-align: right;
    }
}

.cardContainer {
    display: flex;
    border-radius: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.div_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 20px;
    color: white
}